.article-wrp {
    display: flex;
}
.index {
    text-align: right;
    width: 30px;
}
.article {
    padding-left: 10px;
    width: 100%;
}
.article--featured {
    background: #ffed83;
    border: 2px solid #ffda83;
}
.title {
    font-weight: bold;
}
.link {
    font-style: italic;
}

.author,
.votes,
.comments {
    display: inline-block;

}
.author,
.votes {
    margin-right: 10px;
}
