.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0;
}

.app-title a {
    color: #1A237E;
    text-decoration: none;
}

.article-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.article-item {
    border-bottom: 1px solid #ddd;
    margin: 0 0 10px;
    padding: 0 20px 10px 0;
}
.article-item:first-child {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
.article-item:last-child {
    margin-bottom: 0;
}
