.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0;
}
.article-title {
    margin: 20px 0;
    padding: 0 20px;
}
.comments {
    border-top: 1px solid #ddd;
    padding: 0 20px 0 0;
}
