* {
    box-sizing: border-box;
}
body {
    background-color: #f5f5f5;
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
    width: 800px;
}

a {
    color: #1E88E5;
    word-wrap: break-word;
}
a:visited {
    color: #8E24AA;
}

h1 {
    color: #1A237E;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 20px;
}
h2,
h3 {
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 20px;
}

p {
    margin: 15px 0;
}

pre {
    overflow: auto;
}

.btn {
    background-color: #458bd2;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 6px 12px;
}
.btn:hover {
    background-color: #369;
}
.btn--secondary {
    background-color: #ddd;
    color: #666;
}
.btn--secondary:hover {
    background-color: #ccc;
}

.loading {
    padding: 20px 20px 0;
}
