<header class="header">
    <h1 class="app-title"><a href="/">HN Reader</a></h1>
    <a href="https://gitlab.com/jgasteiz/hnreader-angular2">About</a>
</header>
<h2 class="loading" *ngIf="getArticles().length === 0">Loading stories...</h2>
<ol class="article-list">
    <li *ngFor="let article of getArticles(); let i = index" class="article-item">
        <article [article]="article" [index]="i + 1"></article>
    </li>
</ol>
