<div class="article-wrp">
    <div class="index">{{ index }}</div>
    <div class="article" [class.article--featured]="article.featured">
        <div class="title">{{ article.title }}</div>
        <a class="link" [href]="article.link">{{ article.readableUrl }}</a>
        <div class="summary">
            <span class="author">by {{ article.author }}</span>
            <span class="votes">{{ article.votes }} points</span>
            <a class="comments" [routerLink]="article.commentsRoute">{{ article.numComments }} comments</a>
        </div>
    </div>
</div>
