<ul class="comment-list">
    <li *ngFor="let comment of comments" class="comment-item">
        <comment [comment]="comment"></comment>
        <comment-list *ngIf="comment.replies.length > 0" [comments]="comment.replies"></comment-list>
    </li>
</ul>
