<header class="header">
    <a [routerLink]="['/']">Back</a>
    <a [href]="articleUrl">View article</a>
</header>
<h1 class="article-title">{{ articleTitle }}</h1>
<div class="comments">
    <h2 class="loading" *ngIf="comments.length === 0">Loading comments...</h2>
    <comment-list [comments]="comments"></comment-list>
</div>
